html,
body,
.c-family {
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
.c1 {
  background-color: antiquewhite;
}
.c2 {
  background-color: aquamarine;
}
.c3 {
  background-color: cadetblue;
}
.c4 {
  background-color: chocolate;
}
.c5 {
  background-color: darkgoldenrod;
}
.c6 {
  background-color: darkviolet;
}
