.header {
  background: gray;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-align: center;
}
h1 {
  margin: auto;
}
table,
td,
tr {
  border: solid 2px black;
  text-align: center;
}
table {
  margin: auto;
  max-width: 90vw;
}
tr,
td {
  width: fit-content;
}
a {
  text-decoration: none;
  color: black;
}
.button {
  text-align: center;
}
button {
  margin-left: 10px;
}
table {
  display: none;
}
#t_1 {
  display: table;
}
