.Footer_bg {
  width: 1920px;
  height: 656px;
  padding: 138px 269px 145px 256px;
  background-color: var(--neutral-0);
}
.wwwabicptrs-COPYTRI {
  width: 728px;
  height: 63px;
  margin: 85px 383px 0 0;
  font-family: SDCompSans-eMd;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--neutral-50);
}
span {
  width: 161px;
  height: 36px;
  margin: 0 123px 20px 383px;
  font-family: NotoSansKR;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--neutral-50);
}
.fkfkflgabptrscom {
  width: 237px;
  height: 36px;
  margin: 20px 47px 20px 383px;
  font-family: NotoSansKR;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--neutral-50);
}
.-\381 {
  width: 284px;
  height: 113px;
  margin: 20px 0 85px 383px;
  font-family: NotoSansKR;
  font-size: 25px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--neutral-50);
}
img.btn_facebook {
  width: 50px;
  height: 50px;
  margin: 98px 14px 0 383px;
  object-fit: contain;
}
img.btn_insta {
  width: 50px;
  height: 50px;
  margin: 98px 14px 0;
  object-fit: contain;
}
img.btn_blog {
  width: 50px;
  height: 50px;
  margin: 98px 106px 0 14px;
  object-fit: contain;
}
