.bg {
  width: 1920px;
  height: 1658px;
  padding: 0 0 132.7px;
  background-color: #fff;
}
.\- {
  width: 242px;
  height: 44px;
  margin: 90px 698px 6px 256px;
  font-family: NotoSansKR;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--neutral-70);
}
.AI-Based-Business-In {
  width: 662px;
  height: 195px;
  margin: 6px 278px 70.7px 256px;
  font-family: SDCompSans-cLt;
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #020547;
}
.\- {
  width: 260px;
  height: 92px;
  margin: 23px 464px 21px 278px;
  font-family: NotoSansKR;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--neutral-70);
}
img.Learn-More_btn {
  width: 149px;
  height: 49px;
  margin: 21px 575px 86.7px 278px;
  object-fit: contain;
}
img.image_intro {
  width: 1408px;
  height: 938.7px;
  margin: 70.7px 256px 0;
  object-fit: contain;
}
