.about {
  height: 100vh;
  /* display: flex; */
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.about img {
  max-width: 100vw;
  max-height: 70vw;
}
.cer img {
  width: 20vw;
}
.about {
  scroll-snap-align: start;
  position: relative;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}
.about_intro {
  background-image: url('../img/aboutus/aboutus-b-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about_outer {
  background-image: url('../img/aboutus/bg_2.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.about_us #list-item-2 {
}
.about_us #list-item-3 {
}
.about_us #list-item-4 {
  background-image: url('../img/aboutus/about-misson3.png');
}
.about_us #list-item-5 {
  background-image: url('../img/aboutus/about-misson4.png');
}
