.chapter {
  position: relative;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gotoservice {
  position: absolute;
  bottom: 20%;
  left: 10%;
  width: 10%;
  /* border-radius: 60rem !important;
  border: solid !important; */
}
.zero img {
  position: absolute;
}
#intro_b {
  height: 100%;
  width: auto;
  right: 0;
}
#intro_copy1 {
  height: 3%;
  width: auto;
  left: 11%;
  top: 20%;
}
#intro_copy2 {
  height: 20%;
  width: auto;
  left: 10%;
  top: 25%;
}
#intro_logo {
  height: 15%;
  width: auto;
  left: 10%;
  top: 50%;
}
#scroll_img {
  position: absolute;
  width: 5%;
  animation: float 1.5s ease-in-out infinite;
  bottom: 5%;
}
.one {
  z-index: 1;
  background-image: url('../img/sli2.PNG');
}
.two {
  z-index: 2;
  background-image: url('../img/sli3.PNG');
}
.three {
  z-index: 3;
  background-image: url('../img/sli4.PNG');
}
.four {
  z-index: 4;
  background-image: url('../img/why.png');
}
.five {
  z-index: 5;
  background-image: url('../img/sli6.png');
}
.six {
  z-index: 6;
  background-image: url('../img/sli5.PNG');
}
.blink {
  animation: blink 0.5s infinite;
  font-size: 2rem;
}
#txt_here {
  font-size: 2rem;
}

@keyframes blink {
  to {
    opacity: 0;
  }
}
#fixed_goto {
  position: fixed;
  width: 50px;
  bottom: 5%;
  right: 5%;
  z-index: 10;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
