* {
  text-align: center;
  /* color: #020548; */
  font-family: 'Noto Sans KR', sans-serif;
}
/* #list-item-1 {
  margin-top: 5rem;
} */
.ser_img {
  overflow: hidden;
  width: 15rem;
  height: 15rem;
}
.ser_btn {
  width: 100%;
  /* border-radius: 50%;
  border: solid navy; */
}
.chapter {
  scroll-snap-align: start;
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

.servimg {
  width: 60%;
  /* height: 100%; */
}
.servimg_s {
  width: 30%;
  margin: auto;
}
.servinner {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.servprogress > p {
  width: 10rem;
}
.pic_nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  position: absolute;
  bottom: 20%;
}
.san {
  height: 90vh;
  width: auto;
}
.spliderdiv {
  text-align: -webkit-center;
}
h1,
p {
  max-width: 70vw;
  margin: auto;
}
.service {
  /* background-image: url('../img/service/service-b-img.png'); */
  background-position: center;

  /* background-size: cover; */
  background-repeat: no-repeat;
}
.servh1 {
  position: absolute;
  top: 20%;
  width: 100vw;
}
.servh1 > img {
  width: auto;
}
#service_container {
  color: rgb(206, 206, 206);
}
.se #list-item-1 {
  background-image: url('../img/service/service-b-img.png');
}
.se #list-item-2 {
  background-image: url('../img/service/bg_2.png');
}
.se #list-item-3 {
  background-image: url('../img/service/bg_2.png');
}
.se #list-item-4 {
  background-image: url('../img/service/bg_5.png');
  background-size: 80% 80%;
  background-position: center 65%;
}
.se .outer {
  background-image: url('../img/service/bg_oval_1.png'), url('../img/service/bg_oval_2.png');
  background-size: 70%, 30%;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
}
.se #list-item-5 {
}
.se #list-item-6 {
}
.se #list-item-7 {
}
.se #list-item-8 {
  background-image: url('../img/service/business-3.png');
}
.se #list-item-9 {
  background-image: url('../img/service/business-4.png');
}
.se #list-item-10 {
  background-image: url('../img/service/business-5.png');
}
.se #list-item-11 {
  background-image: url('../img/service/business-6.png');
}
.se #list-item-12 {
  background-image: url('../img/service/business-6.png');
}
