:root {
  --stratos: rgba(2, 5, 71, 1);
  --chicago: rgba(95, 95, 95, 1);
  --mountain-mist: rgba(150, 150, 150, 1);
  --mountain-mist-2: rgba(151, 151, 151, 1);
  --celeste: rgba(205, 205, 205, 1);
  --iron: rgba(215, 215, 215, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xs: 20px;
  --font-size-s: 25px;
  --font-size-m: 30px;
  --font-size-l: 60px;
  --font-size-xl: 80px;
  --font-size-xxl: 120px;

  --font-family-applesdgothicneo-light: 'AppleSDGothicNeo-Light';
  --font-family-applesdgothicneo-regular: 'AppleSDGothicNeo-Regular';
  --font-family-helvetica: 'Helvetica';
  --font-family-noto_sans_kr: 'Noto Sans KR';
  --font-family-sdcompsans-bul: 'SDCompSans-bUl';
  --font-family-sdcompsans-clt: 'SDCompSans-cLt';
  --font-family-sdcompsans-emd: 'SDCompSans-eMd';
}
.abicsdcompsans-emd-normal-chicago-60px {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-emd);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.abicsdcompsans-clt-normal-chicago-25px {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-clt);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.abicsdcompsans-emd-normal-chicago-30px {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-emd);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.abicnotosanskr-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.abicnotosanskr-medium-mountain-mist-25px {
  color: var(--mountain-mist-2);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.abicnotosanskr-medium-celeste-30px {
  color: var(--celeste);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.abicnotosanskr-normal-chicago-25px {
  color: var(--chicago);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.abicborder-1px-mountain-mist {
  border-width: 1px;
  border-style: solid;
  border-color: var(--mountain-mist);
}
.abicnotosanskr-light-chicago-20px {
  color: var(--chicago);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xs);
  font-weight: 300;
  font-style: normal;
}
.abicnotosanskr-medium-chicago-30px {
  color: var(--chicago);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.abicnotosanskr-normal-white-80px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: normal;
}
.abicsdcompsans-clt-normal-chicago-120px {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-clt);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
}
.abicapplesdgothicneo-normal-chicago-30px {
  color: var(--chicago);
  font-family: var(--font-family-applesdgothicneo-light);
  font-size: var(--font-size-m);
}
.abicnotosanskr-medium-white-30px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.abicabic {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  /* height: 1658px; */
  /* width: 100vw; */
}

.abicoverlap-group1 {
  height: 181px;
  position: relative;
  width: 100vw;
}

.abicgroup-container {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 181px;
  left: 0;
  /* min-width: 100vw; */
  padding: 0 13vw;
  position: absolute;
  top: 0;
}

.abicgroup-6 {
  background-size: 100% 100%;
  height: 55px;
  width: 3vw;
}

.abicgroup-9 {
  background-size: 100% 100%;
  height: 55px;
  margin-left: 0.002vw;
  width: 2vw;
}

.abicgroup-12 {
  background-size: 100% 100%;
  height: 55px;
  margin-left: 0.002vw;
  width: 0.5vw;
}

.abicgroup-3 {
  background-size: 100% 100%;
  height: 55px;
  margin-left: 0.3vw;
  width: 3vw;
}

.abicabout-us {
  left: 1372px;
  letter-spacing: 0;
  position: absolute;
  top: 75px;
}

.abiccontact-us {
  left: 71vw;
  letter-spacing: 0;
  position: absolute;
  top: 75px;
}

.abictext_label-1 {
  left: 62vw;
  letter-spacing: 0;
  position: absolute;
  top: 72px;
}

.abictext_label-2 {
  left: 45vw;
  letter-spacing: 0;
  position: absolute;
  top: 72px;
}

.abicintro {
  left: 39vw;
  letter-spacing: 0;
  position: absolute;
  top: 75px;
}

.abictext_label-3 {
  align-self: flex-start;
  font-weight: 500;
  letter-spacing: 0;
  /* margin-left: 13vw; */
  margin-top: 90px;
  min-height: 44px;
}

.abicflex-row {
  align-items: center;
  display: flex;
  height: 203px;
  /* margin-right: 11vw; */
  margin-top: 6px;
  min-width: 63vw;
  width: 100%;
}

.abicai-based-business-in {
  color: var(--stratos);
  font-family: var(--font-family-sdcompsans-clt);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 80px;
  min-height: 203px;
  min-width: 32vw;
}

.abicspan1 {
  font-family: var(--font-family-helvetica);
  line-height: 96px;
}

.abicspan2 {
  font-family: var(--font-family-applesdgothicneo-regular);
  line-height: 96px;
}

.abicflex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  margin-left: 17vw;
  min-height: 162px;
  width: 14vw;
  position: absolute;
  right: 10%;
}

.abictext_label-container {
  height: 92px;
  position: relative;
  width: 14vw;
}

.abictext_label {
  font-weight: 300;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 0;
}

.abiclearn-more_btn {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 24.5px;
  display: flex;
  height: 49px;
  margin-top: 21px;
  /* min-width: 8vw; */
  /* padding: 12px 1vw; */
}

.abiclearn-more {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-bul);
  font-size: var(--font-size-xs);
  letter-spacing: 0;
  line-height: 24px;
  min-height: 24px;
  white-space: nowrap;
}

.abicimage_1 {
  height: auto;
  margin-top: 63px;
  width: 85vw;
}
.abicimage_2 {
  height: auto;
  width: 85vw;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,300,700,500');

.abicscreen a {
  display: contents;
  text-decoration: none;
  width: 85vw;
}

.abiccontainer-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  /* width: 100vw; */
  margin-top: 5vw;
}

.abiccontainer-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}
@media only screen and (max-width: 1210px) {
  .abicnotosanskr-light-chicago-20px {
    font-size: 15px;
  }
}
@media only screen and (max-width: 992px) {
  .abicflex-row {
    display: block;
    text-align: center;
  }
  .abictext_label-3 {
    margin-left: 12%;
  }
  .abicflex-col {
    right: unset;
    display: inline-block;
    margin: unset;
    width: unset;
    position: relative;
  }
  .abictext_label-container {
    width: 100%;
  }

  .abicai-based-business-in {
    font-size: 10vw;
  }
}
@media only screen and (max-width: 400px) {
  .abicflex-col {
    right: unset;
    display: inline-block;
    margin: unset;
  }
}
@media only screen and (max-width: 330px) {
  .abictext_label-3 {
    font-size: 25px;
  }
}
