:root {
  --stratos: rgba(2, 5, 71, 1);
  --chicago: rgba(95, 95, 95, 1);
  --mountain-mist: rgba(150, 150, 150, 1);
  --mountain-mist-2: rgba(151, 151, 151, 1);
  --celeste: rgba(205, 205, 205, 1);
  --iron: rgba(215, 215, 215, 1);
  --white: rgba(255, 255, 255, 1);

  --font-size-xs: 20px;
  --font-size-s: 25px;
  --font-size-m: 30px;
  --font-size-l: 60px;
  --font-size-xl: 80px;
  --font-size-xxl: 120px;

  --font-family-applesdgothicneo-light: 'AppleSDGothicNeo-Light';
  --font-family-applesdgothicneo-regular: 'AppleSDGothicNeo-Regular';
  --font-family-helvetica: 'Helvetica';
  --font-family-noto_sans_kr: 'Noto Sans KR';
  --font-family-sdcompsans-bul: 'SDCompSans-bUl';
  --font-family-sdcompsans-clt: 'SDCompSans-cLt';
  --font-family-sdcompsans-emd: 'SDCompSans-eMd';
}
.contactsdcompsans-emd-normal-chicago-60px {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-emd);
  font-size: var(--font-size-l);
  font-weight: 400;
  font-style: normal;
}
.contactsdcompsans-clt-normal-chicago-25px {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-clt);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.contactsdcompsans-emd-normal-chicago-30px {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-emd);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.contactnotosanskr-bold-white-30px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 700;
  font-style: normal;
}
.contactnotosanskr-medium-mountain-mist-25px {
  color: var(--mountain-mist-2);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.contactnotosanskr-medium-celeste-30px {
  color: var(--celeste);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.contactnotosanskr-normal-chicago-25px {
  color: var(--chicago);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.contactborder-1px-mountain-mist {
  /* border-width: 1px; */
  /* border-style: solid; */
  border-color: var(--mountain-mist);
  text-align: center;
}
.contactnotosanskr-light-chicago-20px {
  color: var(--chicago);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xs);
  font-weight: 300;
  font-style: normal;
}
.contactnotosanskr-medium-chicago-30px {
  color: var(--chicago);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.contactnotosanskr-normal-white-80px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-xl);
  font-weight: 400;
  font-style: normal;
}
.contactsdcompsans-clt-normal-chicago-120px {
  color: var(--chicago);
  font-family: var(--font-family-sdcompsans-clt);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
}
.contactapplesdgothicneo-normal-chicago-30px {
  color: var(--chicago);
  font-family: var(--font-family-applesdgothicneo-light);
  font-size: var(--font-size-m);
}
.contactnotosanskr-medium-white-30px {
  color: var(--white);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-m);
  font-weight: 500;
  font-style: normal;
}
.contactcontactus {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  /* height: 3150px; */
  overflow: hidden;
  width: 85vw;
}

.contactflex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 552px;
  width: 100vw;
}

.contactgroup-container {
  align-items: center;
  background-color: var(--white);
  display: flex;
  height: 181px;
  margin-left: 1.5px;
  min-width: 99vw;
  padding: 0 13vw;
}

.contactgroup-13 {
  align-items: flex-start;
  display: flex;
  min-width: 9vw;
}

.contactgroup-6 {
  background-size: 100% 100%;
  height: 55px;
  width: 3vw;
}

.contactgroup-9 {
  background-size: 100% 100%;
  height: 55px;
  margin-left: 0.2vw;
  width: 2vw;
}

.contactgroup-12 {
  background-size: 100% 100%;
  height: 55px;
  margin-left: 0.2vw;
  width: 0.5vw;
}

.contactgroup-3 {
  background-size: 100% 100%;
  height: 55px;
  margin-left: 0.2vw;
  width: 2vw;
}

.contactgroup {
  align-items: center;
  display: flex;
  height: 36px;
  margin-bottom: 1px;
  margin-left: 17vw;
  min-width: 48vw;
}

.contactintro {
  letter-spacing: 0;
  min-height: 30px;
  min-width: 3vw;
}

.contacttext_label-1 {
  letter-spacing: 0;
  margin-left: 3vw;
  min-height: 36px;
  min-width: 14vw;
}

.contacttext_label-2 {
  letter-spacing: 0;
  margin-left: 3vw;
  min-height: 36px;
  min-width: 6vw;
}

.contactabout-us {
  letter-spacing: 0;
  margin-left: 3vw;
  min-height: 30px;
  min-width: 6vw;
}

.contactcontact-us {
  letter-spacing: 0;
  margin-left: 3vw;
  min-height: 30px;
  min-width: 7vw;
}

.contacttitle {
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 13vw;
  margin-top: 103px;
  min-height: 144px;
}

.contactline {
  height: 0px;
  margin-top: 150px;
  width: 100vw;
  border: solid black 1px;
}

.contactflex-row {
  align-items: flex-end;
  display: flex;
  margin-top: 126px;
  min-width: 73vw;
}

.contactflex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 1px;
  min-height: 991px;
  width: 32vw;
}

.contactcontact-us-1 {
  letter-spacing: 0;
  min-height: 72px;
}

.contacttext_label-container {
  align-items: flex-start;
  display: flex;
  height: 40px;
  margin-top: 106px;
  min-width: 22vw;
}

.contacttext_label-3 {
  font-weight: 300;
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  min-width: 3vw;
  white-space: nowrap;
}

.contacttext_label-4 {
  align-self: flex-end;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 16vw;
  min-height: 36px;
  min-width: 3vw;
  white-space: nowrap;
}

.contactflex-row-1 {
  align-items: flex-start;
  display: flex;
  margin-top: 20px;
  min-width: 33vw;
}

.contactrectangle {
  background-color: var(--white);
  border-radius: 24.5px;
  height: 49px;
  width: 14vw;
}

.contactrectangle-1 {
  background-color: var(--white);
  border-radius: 24.5px;
  height: 49px;
  margin-left: 5vw;
  width: 14vw;
}

.contacttext_label {
  font-weight: 300;
  letter-spacing: 0;
  line-height: 36px;
  margin-top: 45px;
  min-height: 36px;
  white-space: nowrap;
}

.contactrectangle-2 {
  background-color: var(--white);
  border-radius: 24.5px;
  height: 49px;
  margin-top: 24px;
  width: 19vw;
}

.contactflex-col-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 445px;
  width: 33vw;
}

.contactrectangle-3 {
  background-color: var(--white);
  border-radius: 24.5px;
  height: 343px;
  width: 33vw;
}

.contactgroup-1 {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 24.5px;
  /* display: flex; */
  text-align: center;
  height: 49px;
  /* margin-left: 5vw; */
  margin-top: 53px;
  min-width: 14vw;
  padding: 6px 4vw;
}

.contacttext_label-5 {
  font-weight: 300;
  letter-spacing: 0;
  line-height: 36px;
  min-height: 36px;
  white-space: nowrap;
}

.contactmia-baker-jjhvyxm34n-y-unsplash {
  height: 1032px;
  margin-left: 15vw;
  max-width: 36vw;
}

.contactflex-col-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 154px;
  min-height: 1188px;
  width: 100vw;
}

.contactline-1 {
  height: 0px;
  margin-top: 150px;
  width: 100vw;
  border: solid black 1px;
}

.contactlocation {
  letter-spacing: 0;
  margin-left: 0.1vw;
  margin-top: 154px;
  min-height: 72px;
  min-width: 13vw;
}

.contactx {
  color: var(--chicago);
  font-family: var(--font-family-noto_sans_kr);
  font-size: var(--font-size-s);
  font-weight: 300;
  letter-spacing: 0;
  margin-left: 0.1vw;
  margin-top: 16px;
  min-height: 36px;
  min-width: 38vw;
}

.contactoverlap-group {
  background-size: 100% 100%;
  height: 46vw;
  margin-top: 76px;
  position: relative;
  width: 99vw;
}

.contactoval {
  height: 40px;
  left: 63vw;
  position: absolute;
  top: 517px;
  width: 2vw;
}

.contactoval-1 {
  height: 13px;
  left: 64vw;
  position: absolute;
  top: 548px;
  transform: rotate(32deg);
  width: 2vw;
}

.contactgroup-3-1 {
  background-size: 100% 100%;
  height: 3vw;
  left: 64%;
  position: absolute;
  top: 59%;
  width: 2vw;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,300,700,500');

.contactscreen a {
  display: contents;
  text-decoration: none;
}

.contactcontainer-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100vw;
  margin-top: 10vh;
}

.contactcontainer-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}
input {
  outline: none;
  height: -webkit-fill-available;
  width: 80%;
  font-size: larger;
  text-align: center;
  /* border-radius: 24.5px; */
}
textarea {
  margin-top: 5%;
  /* padding: 0 5%; */
  outline: none;
  width: 90%;
  font-size: x-large;
  height: 80%;
}
.form-control1 {
  border-radius: 24.5px !important;
}
@media only screen and (max-width: 1500px) {
  .contactmia-baker-jjhvyxm34n-y-unsplash {
    height: 50vw;
  }
  .contactflex-row {
    align-items: center;
  }
}
@media only screen and (max-width: 992px) {
  .contactsdcompsans-clt-normal-chicago-120px {
    font-size: 60px;
  }
  .contactmia-baker-jjhvyxm34n-y-unsplash {
    display: none;
  }
  .contactflex-row {
    align-items: flex-start;
    display: flex;
    margin-top: 126px;
    min-width: 178vw;
    justify-content: center;
  }
  .contactsdcompsans-emd-normal-chicago-60px {
    font-size: 40px;
  }
  .contactflex-col-1 {
    width: 84vw;
    justify-content: center;
    align-items: center;
  }
  .contactrectangle,
  .contactrectangle-1 {
    width: 30vw;
  }
  .contactrectangle-1 {
    margin-left: 10vw;
  }
  .contactrectangle-2 {
    width: 70vw;
  }
  .contactrectangle-3 {
    width: 70vw;
  }
  .contacttext_label-4 {
    margin-left: 30vw;
  }
}
@media only screen and (max-width: 992px) {
  .contactx {
    width: 80vw;
  }
}
